<div class="jumbotron">
    <h1>Raspberry API en ASP.NET</h1>
    <p class="lead">@*ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.*@API de comunicacion del dispositivo Raspberry para el proyecto de Aplicaciones TIC</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
<div>
    <label for="txloginuser">Online User</label>
    <input id="txloginuser" type="text" name="txloginuser" />
    <label for="txuserid">User</label>
    <input id="txuserid" type="text" name="txuserid" />
    <label for="txuserkey">User Key</label>
    <input id="txuserkey" type="text" name="txuserkey" />
    <button id="openButton" value="Open">Open</button>
    <button id="closeButton" value="Close">Close</button>
    <label for="txmessage">Message</label>
    <input id="txmessage" type="text" name="txmessage" />
</div>
<div>
    <button id="sendButton" value="Send">Send</button>&nbsp;
</div>
<div id="divmsg"></div>
@section scripts{
    <script type="text/javascript">

        var demoService;

        $(document).ready(function () {
            $("#txloginuser").attr("disabled", "disabled");
            $("#txuserkey").attr("disabled", "disabled");

            $("#closeButton").click(function () {
                if (demoService.OPEN) {
                    demoService.close();
                }
            });

            $("#sendButton").click(function () {
                if (!demoService.OPEN) {
                    demoService.close();
                    username = $('#txuserid').val();
                    var url = "ws://" + window.location.host + '/api/socket?userid=' + username;
                    demoService = new WebSocket(url);
                }
                username = $('#txuserid').val();
                demoService.send('{userid:\'' + username + '\',tipoproceso:\''+$('#txmessage').val()+'\'}');
            });


        });



    </script>
}